.wrapper {
    padding: 2.8rem 9.8rem;
    justify-content: space-between;
}

.wrapper,
.nav__Links__Wrap {
    display: flex;
    align-items: center;
}

.logo__Img {
    width: 5rem;
}

.nav__Links__Wrap {
    gap: 3rem;
}

.nav__Link {
    list-style: none;
    font-size: 1.125rem;
    line-height: 19.2px;
    font-weight: 400;
    position: relative;
}

.nav__Link a {
    text-decoration: none;
    color: var(--primary-teal-color);
}

.nav__Link.active {
    font-weight: 700;
}

.active__Indicator {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--primary-teal-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 160%;
}

.small__Nav__Btn {
    display: none;
}

@media screen and (max-width: 992px) {
    .wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .nav__Links__Wrap {
        display: none;
    }

    .small__Nav__Btn {
        display: block;
    }

    .logo__Img {
        width: 3.75rem;
    }
}