* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--tomato-font);
}

:root {
  --primary-teal-color: #07969E;
  --tomato-font: 'Tomato Grotesk', sans-serif;
}

@font-face {
  font-family: 'Tomato Grotesk';
  src: url('./fonts/Tomato/TomatoGrotesk-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Tomato Grotesk';
  src: url('./fonts/Tomato/TomatoGrotesk-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Tomato Grotesk';
  src: url('./fonts/Tomato/TomatoGrotesk-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Tomato Grotesk';
  src: url('./fonts/Tomato/TomatoGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tomato Grotesk';
  src: url('./fonts/Tomato/TomatoGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tomato Grotesk';
  src: url('./fonts/Tomato/TomatoGrotesk-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Tomato Grotesk';
  src: url('./fonts/Tomato/TomatoGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Tomato Grotesk';
  src: url('./fonts/Tomato/TomatoGrotesk-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Tomato Grotesk';
  src: url('./fonts/Tomato/TomatoGrotesk-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}